{% extends "layout.html" %}

{% block body %}
<div class="container d-flex justify-content-center text-light">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
        {% for product in products %}
            <div class="p-2">
                <a href="{% url 'product' product_id=product.id %}" class="d-flex flex-column p-3 rounded-3 text-light link-underline link-underline-opacity-0 product-section">
                        <img src="../../static/icon.png" alt="">
                        <div class="product-name">{{ product.name }}</div>
                        <div name="product-price">{{ product.price }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script src="../../static/index.js"></script>
{% endblock %}