{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xm-12 col-sm-10 col-md-8 col-lg-6">
            <div class="text-light border border-1 rounded-5 p-5">
                <div class="bg-secondary d-flex">
                    <img src="../static/icon.png" alt="">
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <span>
                        <div>{{ product.name }}</div>
                        <div>{{ product.price }}</div>
                        <div>{{ category }}</div>
                    </span>
                    {% if user.is_authenticated %}
                        <a href="{% url 'add_to_wishlist' product_id=product.id %}" class="link link-danger fs-3" data-bs-toggle="tooltip" data-bs-title="Add to my favorites">
                            {% if wishlist|first %}
                                <i class="bi bi-heart-fill"></i>
                            {% else %}
                                <i class="bi bi-heart"></i>
                            {% endif %}
                        </a>
                    {% else %}
                    <!-- Button trigger modal -->
                    <a class="link link-danger fs-3" data-bs-toggle="modal" data-bs-target="#login-link">
                        <i class="bi bi-heart"></i>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="login-link" tabindex="-1" aria-labelledby="login-link-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark py-3">
                                <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                                    Log in to add items to yout wishlist!
                                    <span class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-secondary m-2" data-bs-dismiss="modal">Close</button>
                                        <a href="{% url 'login' %}" class="btn btn-warning m-2">Log in</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}