{% extends "layout.html" %}
{% load static %}
 {% block body %}

<div class="d-flex justify-content-center">
    <form
        action="{% url 'register' %}"
        method="post"
        class="glass d-flex flex-column gap-3 align-items-center text-light rounded-5 p-5"
        id="register-form"
    >
        <h1>Register</h1>

        {% if message %}
        <div class="text-danger">{{ message }}</div>
        {% endif %}

        {% csrf_token %}
        <div class="form-group">
            <input class="form-control bg-dark text-light" autofocus type="text" name="username" placeholder="Username"
            />
        </div>
        <div class="form-group">
            <input class="form-control bg-dark text-light" type="email" name="email" placeholder="Email Address"
            />
        </div>
        <div class="form-group">
            <input class="form-control bg-dark text-light" type="password" name="password" placeholder="Password"
            />
        </div>
        <div class="form-group">
            <input class="form-control bg-dark text-light" type="password" name="confirmation" placeholder="Confirm Password"
            />
        </div>
        <div class="form-group d-flex justify-content-center align-items-center">
            <label>Register as a</label>&nbsp&nbsp
            <div class="d-flex flex-column">
                <select class="form-select bg-dark text-light" name="user-type" id="user-type">
                    <option value='client' selected>Client</option>
                    <option value='seller applicant'>Seller</option>
                    <option value='deliveryman applicant'>Deliveryman</option>
                </select>
            </div>
        </div>
        <span>
            <input class="btn btn-warning" type="submit" value="Register" />
        </span>

        <span>
            Already have an account?
            <a href="{% url 'login' %}">Log In here.</a>
        </span>
    </form>
</div>

{% endblock %}
