{% extends "layout.html" %}
{% load static %}
 {% block body %}

<div class="d-flex justify-content-center">
    <form
        action="{% url 'register' %}"
        method="post"
        class="glass d-flex flex-column gap-3 align-items-center text-light rounded-5 p-5"
        id="register-form"
    >
        <h2>Hello, {{ user }}!</h2>

        <p><strong>We're happy to know you would like to join our team!</strong><br>
        To support us with the delivery process, we ask you<br>
        to provide us with some additional information.<br>
        Our team will monitor the request and get back to<br>
        you as soon as possible to complete your registration.<br>
        Until then, you can continue to use the platform as a<br>
        client. We appreciate your attention!</p>
        <div class="form-group">
            
        </div>

        {% csrf_token %}
        <div class="form-group">
            <input class="form-control text-light" autofocus type="text" name="username" placeholder="Username"
            />
        </div>
        <div class="form-group">
            <input class="form-control text-light" type="email" name="email" placeholder="Email Address"
            />
        </div>
        <div class="form-group">
            <input class="form-control text-light" type="password" name="password" placeholder="Password"
            />
        </div>
        <div class="form-group">
            <input class="form-control text-light" type="password" name="confirmation" placeholder="Confirm Password"
            />
        </div>
        <span>
            <input class="btn btn-warning" type="submit" value="Submit" />
        </span>

        <span>
            Already have an account?
            <a href="{% url 'login' %}">Log In here.</a>
        </span>
    </form>
</div>

{% endblock %}
