{% extends "layout.html" %} {% block body %}
<div class="container d-flex flex-column rounded-5">
    <div class="d-flex flex-column align-items-center">
        <table class="cart-table col-12 col-md-10 col-lg-6 col-xl-6 bg-secondary rounded-5 py-4">
            <thead>
                <tr><td class="d-flex text-center mx-5"><h1>My cart</h1></td></tr>
                <tr class="row row-cols-4 cart-product p-3 bg-dark mb-3 border-3 border-secondary rounded-4">
                    <th><h5>Product</h5></th>
                    <th class="text-end">Unit price</th>
                    <th class="text-center quantity-input-col">Quantity</th>
                    <th class="text-end">Total</th>
                </tr>
            </thead>
            <tbody class="tbody">
                {% if products == None %}
                <tr class="row row-cols-1 cart-product rounded-4 pe-3 py-4 mb-3" >
                    <td id="message"><h3 class="text-secondary">Add poducts to yout cart to see them here.</h3></td>
                </tr>
                {% else %}
                <form action="{% url 'new_order' %}" method="post">
                    {% csrf_token %}
                    {% for product in products %}
                    <tr class="row row-cols-4 cart-product rounded-4 pe-3 py-4 mb-3" >
                        <td class="d-flex">
                            <div class="d-flex flex-column align-items-center btn-group-vertical me-3">
                                <!-- Link trigger modal - Delete item from cart -->
                                <a class="btn p-2 bg-black" data-bs-toggle="modal" data-bs-target="#removeModal{{product.product.id}}">
                                    <i class="bi bi-trash3-fill text-secondary"></i>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="removeModal{{product.product.id}}" aria-labelledby="removeModalLabel" aria-hidden="true" >
                                    <div class="modal-dialog">
                                        <div class="modal-content rounded-5">
                                            <div class="d-flex justify-content-end bg-dark rounded-top-4">
                                                <a class="fs-3 me-3 mt-2" data-bs-dismiss="modal" aria-label="Close" >
                                                    <i class="bi bi-x-square-fill"></i>
                                                </a>
                                            </div>
                                            <div class="modal-body bg-dark d-flex flex-column align-items-center rounded-bottom-4">
                                                <p>Are you sure you would like to delete "{{ product.product.name }}" from your cart?</p>
                                                <span>
                                                    <a href="{% url 'remove_from_cart' product_id=product.product.id %}" type="button" class="btn btn-secondary">
                                                        Yes, remove from my cart
                                                    </a>
                                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                                        No, keep in the cart
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Link trigger modal - Move item to favorites -->
                                <a class="btn p-2 bg-black rounded-bottom-2" data-bs-toggle="modal" data-bs-target="#moveModal{{product.product.id}}">                                <i class="bi bi-heart-fill text-danger"></i>
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="moveModal{{product.product.id}}" aria-labelledby="removeModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content rounded-5">
                                        <div class="d-flex justify-content-end bg-dark rounded-top-4">
                                            <a type="button" class="fs-3 me-3 mt-2" data-bs-dismiss="modal" aria-label="Close">
                                                <i class="bi bi-x-square-fill"></i>
                                            </a>
                                        </div>
                                        <div class="modal-body bg-dark d-flex flex-column align-items-center rounded-bottom-4">
                                            <p>Move "{{ product.product.name }}" to your wishlist?</p>
                                            <span>
                                                <a href="{% url 'move_to_wishlist' product_id=product.product.id %}" type="button" class="btn btn-secondary">
                                                    Yes, move to my wishlist
                                                </a>
                                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
                                                    No, keep in the cart
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- End modal -->
                            </div>
                            <a href="{% url 'product' product_id=product.product.id %}" class="link-underline link-underline-opacity-0 link-light">
                                <h5>{{ product.product.name }}</h5>
                            </a>
                        </td>
                        <td class="text-end" name="product-price">
                            <span class="product-price-visible">{{ product.product.price }}</span>
                            <input name="product-price-input" value="{{ product.product.price }}" hidden />
                        </td>
                        <td class="text-center quantity-input-col">
                            <input name="quantity-input-{{ product.product.id }}" class="form-control bg-dark text-light" type="number" min="1" value="{{ product.quantity }}" />
                        </td>
                        <td class="text-end" name="total-price">
                            <span class="total-price-visible">{{ product.product.price }}</span>
                            <input name="total-price-input" value="{{ product.product.price }}" hidden />
                        </td>
                    </tr>
                    {% endfor %}
                <tr class="row cart-product rounded-4 p-3 py-4 mt-5 d-flex">
                    <td class="w-25"><h4>Total:</h4></td>
                    <td class="w-75 text-end"><h4 id="total">0</h4></td>
                    <td><input id="total-input" hidden value="0"/></td>
                </tr>
                <tr class="d-flex justify-content-center">
                    <td>
                        <button class="btn btn-warning border-3 mt-4 rounded-4 p-2 px-3" type="submit">
                            <h2>Purchase</h2>
                        </button>
                    </td>
                </tr>
            </form>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script src="../../static/cart.js"></script>
{% endblock %}
