{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center text-light">
        <div class="col-12 col-md-12 col-lg-10 col-xl-8 mb-4">
            <h1 class="w-100 p-3">My orders</h1>
            <ul class="list-group glass p-2">
                {% if not orders %}
                <h3 class="text-secondary p-3">
                    No orders.
                </h3>
                {% endif %}
                {% for order in orders %}
                <li class="list-group-item bg-black border-0 rounded-3 m-3">
                    <a href="{% url 'order' order_id=order.id %}" class="d-flex flex-column p-3 link-underline link-underline-opacity-0">
                        <span class="d-flex justify-content-between">
                            <div class="d-flex rounded-2 text-light link-underline link-underline-opacity-0 product-section glass col-8 col-md-6 col-lg-4">
                                {% for item in order.items|slice:":3" %}
                                    <span class="d-flex justify-content-center align-items-center mb-2 col-4 square p-1 bg-dark rounded-2 me-2">
                                        {% if product.image_url != "" %}
                                            <img name="product-image" src="{{ item.product.image_url }}" class="full-glass rounded-3">
                                        {% else %}
                                            <img name="product-image" src="{% static 'icon.png' %}" class="glass rounded-3">
                                        {% endif %}
                                    </span>
                                {% endfor %}
                            </div>
                            <div>
                                <div class="border rounded-pill p-2 px-3 text-center w-100" name="order-status">{{ order.status.description }}</div>
                            </div>
                        </span>
                        <span class="d-flex justify-content-between align-items-end w-100 mt-2">
                            <span class="d-flex flex-column">
                                <span name="order-quant">{{ order.quant }}&times; Itens</span>
                                <small class="text-secondary">Order ID <span name="order-id" class="text-secondary">{{ order.id }}</span></small class="text-secondary">
                            </span>
                            <h5 name="price">{{ order.total_price }}</h5>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="{% static 'shopping/myOrders.js' %}"></script>
<script src="{% static 'productList.js' %}"></script>
{% endblock %}