{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center text-light">
        <div class="col-12 col-md-12 col-lg-10 col-xl-8 mb-4">
            <h1 class="w-100 p-3">My orders</h1>
            <ul class="list-group glass p-2">
                {% if not orders %}
                <h3 class="text-secondary p-3">
                    No orders.
                </h3>
                {% endif %}
                {% for order in orders %}
                <li class="list-group-item bg-black border-0 rounded-3 m-3">
                    <a href="{% url 'order' order_id=order.id %}" class="d-flex flex-column p-3 link-underline link-underline-opacity-0">
                        <span class="d-flex">
                            <div class="d-flex grid gap-2 w-100">
                                <img style="height: 70px;" src="../../static/icon.png" alt="">
                                <img style="height: 70px;" src="../../static/icon.png" alt="">
                                <img style="height: 70px;" src="../../static/icon.png" alt="">
                            </div>
                            <div>
                                <div class="border rounded-pill p-2 px-3" name="order-status">{{ order.status.description }}</div>
                            </div>
                        </span>
                        <span class="d-flex justify-content-between align-items-end w-100">
                            <span class="d-flex flex-column">
                                <span name="order-quant">{{ order.quant }}&times; Itens</span>
                                <small class="text-secondary">Order ID <span name="order-id" class="text-secondary">{{ order.id }}</span></small class="text-secondary">
                            </span>
                            <h5 name="price">{{ order.total_price }}</h5>
                        </span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="../../static/shopping/myOrders.js"></script>
{% endblock %}