{% extends "layout.html" %}
{% load static %}


{% block body %}
<div class="container">
    {% if not products %}
    <h3 class="text-secondary glass p-5 rounded-5">
        Add products to your wishlist to save them here.
    </h3>
    {% endif %}
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
        {% for product in products %}
            <div class="p-2">
                <a href="{% url 'product' product_id=product.id %}" class="d-flex flex-column p-3 rounded-3 text-light link-underline link-underline-opacity-0 product-section glass">
                    <span class="d-flex justify-content-center align-items-center mb-2 w-100 square">
                        {% if product.image_url != "" %}
                            <img name="product-image" src="{{ product.image_url }}" class="full-glass rounded-3 ">
                        {% else %}
                            <img name="product-image" src="{% static 'icon.png' %}" class="glass p-5 rounded-3">
                        {% endif %}
                    </span>
                    <div class="product-name">{{ product.name }}</div>
                    <div name="product-price">{{ product.price }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'index.js' %}"></script>
<script src="{% static 'productList.js' %}"></script>
{% endblock %}