{% extends "layout.html" %} {% block body %}
<div class="container">
    <div class="row g-5 bg-black rounded-5 my-4">
        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span>Your cart</span>
            <span class="badge bg-secondary rounded-pill">{{ products_len }}</span>
          </h4>
          <ul class="list-group mb-3">
            
            {% for product in products %}
            <li name="product" class="list-group-item d-flex justify-content-between lh-sm bg-dark">
                <div>
                    <h6 class="my-0">{{ product.product.name }}</h6>
                    <small name="product-price">
                        <input value="{{ product.product.price }}" hidden/>
                        <span class="quantity-input text-secondary" name="quantity">{{ product.quantity }}</span>
                        <span class="text-secondary">&times;</span>
                        <span class="text-secondary">{{ product.product.price }}</span>
                    </small>
                </div>
                <span name="total-price">{{ product.product.price }}</span>
            </li>
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between bg-dark py-3">
              <span>Total</span>
              <strong id="total"></strong>
            </li>
          </ul>

        </div>

        <div class="col-md-7 col-lg-8">
          <form class="needs-validation">

            <h4 class="mb-3">Recipient information</h4>

            <div class="row g-3">
              <div class="col-sm-6">
                <label for="first-name" class="form-label">First name</label>
                <input type="text" class="form-control bg-dark text-light" name="first-name" id="first-name" value="{{ user.first_name }}" required="">
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
  
              <div class="col-sm-6">
                <label for="last-name" class="form-label">Last name</label>
                <input type="text" class="form-control bg-dark text-light" name="last-name" id="last-name" value="{{ user.last_name }}" required="">
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control bg-dark text-light" name="email" id="email" placeholder="you@example.com" value="{{ user.email }}">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>

              <div class="col-12">
                <label for="phone-number" class="form-label">Phone number</label>
                <input type="text" accept="number" class="form-control bg-dark text-light" name="phone-number" id="phone-number" value="{{ user_info.phone }}">
                <div class="invalid-feedback">
                  Please enter a valid phone-number address for shipping updates.
                </div>
              </div>

              <hr class="my-4">
              
              <h4 class="mb-3">Shipping address</h4>
              
              <div class="col-12">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="same-adress">
                  <label class="form-check-label" for="same-adress">Shipping address is the same as my billing address</label>
                  <p class="text-danger" id="adress-message" hidden>No billing adress registered in this account. Add a billing adress in the 'My account' section.</p>
                </div>
              </div>
  
              <div class="col-12 col-lg-9">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control bg-dark text-light" name="street-input" id="street-input" placeholder="1234 Main St" required="">
                <input id="billing-street" value="{{ adress.street }}" hidden>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="postal-code" class="form-label">Postal code</label>
                <input type="text" class="form-control bg-dark text-light" name="postal-code-input" id="postal-code-input" required="">
                <input id="billing-postal-code" value="{{ adress.postal_code }}" hidden>
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
  
              <div class="col-md-9 col-lg-4">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control bg-dark text-light" name="city-input" id="city-input" required="">
                <input id="billing-city" value="{{ adress.city }}" hidden>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
  
              <div class="col-md-6 col-lg-4">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control bg-dark text-light" name="state-input" id="state-input" required="">
                <input id="billing-state" value="{{ adress.state }}" hidden>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
  
              <div class="col-md-6 col-lg-4">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control bg-dark text-light" name="country-input" id="country-input" required="">
                <input id="billing-country" value="{{ adress.country }}" hidden>
                <div class="invalid-feedback">
                  Please provide a valid country.
                </div>
              </div>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Payment</h4>

            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="" value="1">
                <label class="form-check-label" for="credit">Credit card</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="" value="2">
                <label class="form-check-label" for="debit">Debit card</label>
              </div>
            </div>

            <div class="row gy-3">
              <div class="col-9 col-lg-4">
                <label for="cc-name" class="form-label">Name on card</label>
                <input type="text" class="form-control bg-dark text-light" id="card-name" name="card-name" required="">
                <small class="text-secondary">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
  
              <div class="col-3 col-lg-2 order-lg-last">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control bg-dark text-light" id="card-cvv" name="card-cvv" required="">
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
  
              <div class="col-9 col-lg-4">
                <label for="cc-number" class="form-label">Credit card number</label>
                <input type="text" class="form-control bg-dark text-light" id="card-number" name="card-number" required="">
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
  
              <div class="col-3 col-lg-2">
                <label for="cc-expiration" class="form-label">Expiration</label>
                <input type="text" class="form-control bg-dark text-light" id="card-expiration" name="card-expiration" required="">
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
            </div>
  
            <hr class="my-4">
  
            <div class="d-flex justify-content-center">
                <button class="w-75 btn btn-dark btn-lg mb-4" type="submit">Continue to checkout</button>
            </div>
          </form>
        </div>
      </div>
</div>

<script src="../../static/newOrder.js"></script>
{% endblock %}
