{% extends "layout.html" %}

{% block body %}
<div class="d-flex justify-content-center">

    <form action="{% url 'add_product' %}" method="post" class="d-flex flex-column gap-3 align-items-center text-light border border-1 border-secondary rounded-5 p-3 pb-4" id="register-form">
        <div class="align-self-start d-flex">
            <a href="{% url 'seller' %}"><i class="bi bi-arrow-left-circle fs-2"></i></a>
            <h1>&nbspNew product</h1>
        </div>

        {% if message %}
            <div class={{message.class}}>{{ message.text }}</div>
        {% endif %}

        {% csrf_token %}
        <div class="form-group d-flex flex-column gap-3">
            <input autofocus class="form-control" type="text" name="name" placeholder="Title"/>
            <textarea rows="3" class="form-control" name="description" placeholder="Description"></textarea>
            <select class="form-control form-select bg-dark text-light" name="category">
                <option value="" selected disabled>Item category</option>
                {% for category in categories %}
                    <option value={{category.id}}>{{category.name}}</option>
                {% endfor %}
            </select>
            <span class="d-flex gap-3">
                <input class="form-control" type="number" name="stock" placeholder="Available stock">
                <input class="form-control" type="number" name="price" placeholder="Unit price">
            </span>
            <span class="d-flex justify-content-center">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </span>
        </div>
    </form>
</div>

{% endblock %}
