{% extends "layout.html" %}
{% load static %}


{% block body %}
<div class="container d-flex flex-column align-items-center text-light">
    <div class="d-flex row rounded-3 bg-black p-3 rounded-3 col-12 col-md-10 col-lg-8 mb-3">
        <div class="col-12 col-md-6">
            <label for="category-scroll">Filter category</label>
            <select class="form-select bg-dark text-light mb-3" id="category">
                <option selected disabled>Select</option>
                {% for category in categories %}
                        <option value="{{ category }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <span class="col-12 col-md-6 mb-3">
            <label for="seller-search">Search in my products</label>
            <input type="text" id="seller-search" class="form-control bg-dark text-light">
        </span>
    </div>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
        {% for product in products %}
            <div class="p-2" name="product">
                <a href="{% url 'product' product_id=product.id %}" class="glass d-flex flex-column p-3 text-light link-underline link-underline-opacity-0">
                    <img
                        {% if product.image_url != "" %}
                            src="{{ product_url }}" class="w-100 mb-2 rounded-4 glass"
                        {% else %}
                            src="{% static 'icon.png' %}" class="w-100 mb-2 rounded-4 glass p-5"
                        {% endif %}
                    >
                    <div class="product-name">{{ product.name }}</div>
                    <div name="product-price">{{ product.price }}</div>
                </a>
                <input name="product-category" value="{{ product.category }}" hidden>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{% static 'seller/myProducts.js' %}"></script>
{% endblock %}