{% extends "layout.html" %}

{% block body %}
<div class="container d-flex justify-content-center text-light">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
        {% for product in products %}
            <div class="p-2">
                <div class="border border-1 rounded-2 px-3">
                    <div class="product-name">{{ product.name }}</div>
                    <div>{{ product.price }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}