{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xm-12 col-sm-10 col-md-8 col-lg-6">
            <div class="d-flex justify-content-between">
                <h3 class="p-3">Order <span>{{ order.id }}</span></h3>
                <h3 class="p-3">Total: <span name="price">{{ order.total_price }}</span></h3>
            </div>
            <ul class="list-group">
                {% for item in items %}
                    <a href="{% url 'product' product_id=item.product.id %}" class="list-group-item glass border-0 rounded-3 text-light d-flex align-items-center mb-3 link-underline link-underline-opacity-0">
                        <img src="../../static/icon.png" alt="" class="w-25 h-100">
                        <div class="d-flex p-4 px-5 flex-column">
                            <h4>{{ item.product }}</h4>
                            <p>{{ item.quant }}&times;&nbsp;<span name="price">{{ item.product.price }}</span></p>
                        </div>
                    </a>
                {% endfor %}
            </ul>
            <div class="d-flex flex-column align-items-center m-4">
                <p>Current status: {{ order.status.description }}</p>
                <form action="" class="d-flex flex-column">
                    {% if order.status.description == "PROCESSING" %}
                        <a class="btn btn-warning my-3">Confirm order</a>
                        <a class="btn bg-black text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Reject order</a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content d-flex flex-column align-items-center bg-dark p-4">
                                    <p>Reject an order can reduce your seller reputation. Are you sure you want to proceed?</p>
                                    <span>
                                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">No, keep order</button>
                                        <button type="button" class="btn btn-secondary">Yes, reject order</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% elif order.status == "IN PREPARATION" %}
                        <a class="btn btn-warning">Ready for pickup</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../../static/seller/sale.js"></script>
{% endblock %}