{% extends "layout.html" %}
{% load static %}


{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-xm-12 col-md-10 col-lg-6">
            <a href="{% url 'my_sales' %}" class="btn bg-black rounded-pill mb-3">
                <i class="bi bi-arrow-left"></i>
                <span>My sales</span>
            </a>
            <div class="d-flex flex-column align-items-center mb-4 p-4 bg-black rounded-4 w-100">
                <span class="d-flex justify-content-between w-100">
                    <h3>
                        <b>Order <span name="order-id">{{ order.id }}</span></b>
                    </h3>
                    <span>Total: <span name="price">{{ order.total_price }}</span></span>
                </span>
                <hr class="w-100">
                <span>Current status: {{ order.status.description }}</span>
                <div class="d-flex flex-column">
                    {% if order.status.description == "Processing" %}
                        <a href="{% url 'update_order_status' status_id=2 order_id=order.id %}" class="btn btn-theme my-3">Confirm order</a>
                        <a class="btn bg-black text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Reject order</a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content d-flex flex-column align-items-center bg-dark p-4">
                                    <p>Reject an order can reduce your seller reputation. Are you sure you want to proceed?</p>
                                    <span>
                                        <button type="button" class="btn btn-theme" data-bs-dismiss="modal">No, keep order</button>
                                        <a type="button" class="btn btn-secondary">Yes, reject order</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% elif order.status.description == "In preparation" %}
                        <a href="{% url 'update_order_status' status_id=3 order_id=order.id %}" class="btn btn-theme">Ready for pick up</a>
                    {% elif order.status.description == "Ready for pick up" %}
                        {% if order.seller_code %}
                            <div class="d-flex align-items-center">
                                <i class="bi bi-info-circle text-secondary me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Give the deliveryman this code to confirm orders and keep safety."></i>
                                <span class="fs-3">Order code:&nbsp;</span>
                                <b class="fs-3">{{ seller_code.code }}</b>
                            </div>
                        {% else %}
                            <span class="text-secondary">Awaiting deliveryman confirmation</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="glass rounded-4 p-3">
                {% for item in items %}
                    <a href="{% url 'product' product_id=item.product.id %}" class="d-flex align-items-center p-2 link-underline link-underline-opacity-0">
                        <span class="d-flex justify-content-center align-items-center h-50 square p-1">
                            {% if item.product.image_url != "" %}
                                <img name="product-image" src="{{ item.product.image_url }}" class="full-glass w-100 rounded-2">
                            {% else %}
                                <img name="product-image" src="{% static 'icon.png' %}" class="glass rounded-2">
                            {% endif %}
                        </span>
                        <div class="d-flex p-4 px-2 flex-column col-9">
                            <b>{{ item.product }}</b>
                            <p>{{ item.quant }}&times;&nbsp;<span name="price">{{ item.product.price }}</span></p>
                        </div>
                    </a>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="{% static 'seller/sale.js' %}"></script>
<script src="{% static 'productList.js' %}"></script>
{% endblock %}