{% extends "layout.html" %}

{% block body %}

<div class="container d-flex flex-column align-items-center">
    <div class="row col-12 col-md-10 col-lg-8 col-xl-8">
        <h1 class="w-100 p-3">My account</h1>
    </div>
    
    <div class="row col-12 col-md-10 col-lg-8 col-xl-8 glass p-4 rounded-4">
        <form class="needs-validation my-3" method="post" action="{% url 'my_account' %}">
            {% csrf_token %}
            <div class="row">
                <span class="{{ message.class }}">{{ message.text }}</span>

                <div class="d-flex justify-content-between">
                    <h2>My info</h2>
                    <div class="btn btn-warning d-flex align-items-center" id="edit-profile-btn">Edit profile</div>
                    <button type="submit" class="btn btn-warning" id="confirm-profile-btn">Confirm changes</button>
                </div>

                <div class="col-sm-6">
                    <label for="first-name" class="label profile-label p-0 m-0 mt-3">First name</label>
                    <input type="text" class="profile-input form-control bg-dark text-light" id="first-name" name="first-name" value="{{ user.first_name }}" required="true">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="last-name" class="label profile-label p-0 m-0 mt-3">Last name</label>
                    <input type="text" class="profile-input form-control bg-dark text-light" id="last-name" name="last-name" value="{{ user.last_name }}">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>

                <div class="col-md-5">
                    <label for="username" class="label profile-label p-0 m-0 mt-3">Username</label>
                    <div class="input-group has-validation">
                        <input type="text" class="profile-input form-control bg-dark text-light" id="username" name="username" value="{{ user.username }}">
                        <div class="invalid-feedback">
                            Your username is required.
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <label for="email" class="label profile-label p-0 m-0 mt-3">Email</label>
                    <input type="email" class="profile-input form-control bg-dark text-light" id="email" name="email" value="{{ user.email }}">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="birth-input" class="label profile-label p-0 m-0 mt-3">Birth date <span class="text-secondary">(Optional)</span></label>
                    <input type="date" class="profile-input form-control bg-dark text-light" id="birth-input" name="birth" value="{{ user_info.birth }}">
                    <div class="invalid-feedback">
                        Valid date is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="phone-number" class="label profile-label p-0 m-0 mt-3">Phone number <span class="text-secondary">(Optional)</span></label>
                    <input type="text" accept="number" name="phone-number" id="phone-number" class="profile-input form-control bg-dark text-light" 
                    {% if user_info.phone %}
                        value="{{ user_info.phone }}"
                    {% endif %}>                        
                    <div class="invalid-feedback">
                        Valid phone is required.
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row col-12 col-md-10 col-lg-8 col-xl-8 my-4">
        <form class="needs-validation p-0" method="post" action="{% url 'add_adress' %}">
            {% csrf_token %}
            <div class="accordion" id="billing-adress-accordion">
                <div class="accordion-item rounded-4 border-0 glass">
                    <h2 class="accordion-header text-light border-0">
                        <button class="accordion-button text-light rounded-4 bg-black shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Billing adress
                        </button>
                    </h2>

                    <div id="collapseOne"
                        {% if adress_message %}
                            class="accordion-collapse collapse container pb-4 border-0 full-glass show"
                        {% else %}
                            class="accordion-collapse collapse container pb-4 border-0 full-glass"
                        {% endif %}
                        data-bs-parent="#billing-adress-accordion">
                        <div class="accordion-body container row">

                            <span class="{{ adress_message.class }}">{{ adress_message.text }}</span>

                            <div class="col-lg-9">
                                <label for="adress" class="label adress-label p-0 m-0 mt-3">Adress</label>
                                <input type="text" class="adress-input form-control bg-dark text-light" id="adress" name="adress" value="{{ adress.street }}">
                                <div class="invalid-feedback">
                                    Street adress required.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="postal-code" class="label adress-label p-0 m-0 mt-3">Postal code</label>
                                <input type="text" class="adress-input form-control bg-dark text-light" id="postal-code" name="postal-code" value="{{ adress.postal_code }}">
                                <div class="invalid-feedback">
                                    Postal code required.
                                </div>
                            </div>

                            <div class="col-md-9 col-lg-4">
                                <label for="city" class="label adress-label p-0 m-0 mt-3">City</label>
                                <input type="text" class="adress-input form-control bg-dark text-light" id="city" name="city"  value="{{ adress.city }}"></input>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <label for="state" class="label adress-label p-0 m-0 mt-3">State</label>
                                <input type="text" class="adress-input form-control bg-dark text-light" id="state" name="state"  value="{{ adress.state }}"></input>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <label for="country" class="label adress-label p-0 m-0 mt-3">Country</label>
                                <input type="text" class="adress-input form-control bg-dark text-light" id="country" name="country" value="{{ adress.country }}"></input>
                                <div class="invalid-feedback">
                                    Please provide a valid country.
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-warning" id="confirm-adress-btn">Confirm changes</button>
                                <div class="btn btn-warning d-flex align-items-center" id="edit-adress-btn">Edit adress</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../../static/account/account.js"></script>

{% endblock %}
