{% extends "layout.html" %}
{% load static %}


{% block body %}
<div class="container d-flex flex-column col-12 col-lg-8 col-xl-6">
    <div class="row d-flex justify-content-center text-light glass py-3 rounded-4">
        <div class="col-12 col-lg-6 col-xl-6">
            <ul class="list-group">
                <li class="list-group-item px-4 pt-3 bg-black border-0 rounded-top-3 mb-2">
                    <h3>Delivery in progress</h3>
                </li>
                <div class="p-3">
                    {% if order_in_progress == None %}
                        <p class="text-secondary">No orders in progress.</p>
                    {% else %}
                        <span class="d-flex justify-content-between">
                            <span>
                                <p class="m-0 fw-bold">Order <span name="order-id">{{ order_in_progress.id }}</span></p>
                                <p name="order-quant">{{ order_in_progress.quant }}&times; Itens</p>
                            </span>
                            <span><div class="border rounded-pill p-2 px-3 text-center" name="order-status">{{ order.status.description }}</div></span>
                        </span>
                    {% endif %}
                </div>
                <li class="list-group-item px-4 pt-3 bg-black border-0 rounded-top-3 mb-2">
                    <h3>Orders awaiting withdraw</h3>
                </li>
                <div class="p-3">
                    {% for order in orders_awaiting %}
                        <div class="d-flex">
                            <span class="mx-4 w-100">
                                <p class="p-0 m-0">
                                    <span class="fw-bold">Order <span name="order-id">{{ order.id }}</span></span>
                                    <span name="order-quant" class="text-secondary">&nbsp;| Itens: {{ order.quant }}</span>
                                </p>
                                <p>{{ order.delivery_adress.city }}, {{ order.delivery_adress.state }}</p>
                            </span>
                            <a data-bs-toggle="modal" data-bs-target="#modal{{ order.id }}" class="d-flex align-items-center mx-4">
                                <i class="bi bi-clipboard-check px-2 fs-3"></i>
                            </a>
                        </div>
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
    {% for order in orders_awaiting %}
        <!-- Modal -->
        <div class="modal fade" id="modal{{ order.id }}" tabindex="-1" aria-labelledby="modal{{ order.id }}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-black">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modal{{ order.id }}Label">{{ order.id }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ order.delivery_adress }}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}