body {
    background: linear-gradient(-45deg, #803c27, #631a36, #0f4153, #0d5544);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*, h1, h3 {
    color: white;
}

label {
    user-select: none;
}

.hidden {
    display: none;
}


::-webkit-scrollbar-track {
    background-color: #696969;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

a:hover {
    cursor: pointer;
}

/* forms */

#register-form {
    width: fit-content;
}

/* Product screen */

.product-section {
    background-color: rgb(19, 19, 20);
}

.product-name {
    text-wrap: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-section img {
    max-width: 100%;
    max-height: 100%;
}

.glass {
    background: rgba(0, 0, 0, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
}

/* Cart */

.cart-table {
    display: grid;
}

.cart-product td:first-child,
.cart-product th:first-child {
    width: calc(50% - 100px);
}

.cart-table tr td, .cart-table th {
    word-break: normal;
}

.cart-product {
    background-color: rgb(19, 19, 20);
}

.quantity-input-col {
    max-width: 100px;
}

#message {
    width: 100%;
}

/* category filter */

#filter-sidebar {
    height: fit-content;
}

#category-scroll {
    --bs-scroll-height: 300px;
    overflow-x: hidden;
}

#category-scroll::-webkit-scrollbar-track {
    width: 2px;
    background-color: #696969;
}

#category-scroll::-webkit-scrollbar {
    width: 2px;
    width: 5px;
}

#category-scroll::-webkit-scrollbar-thumb {
    width: 2px;
    background: #fff;
}

#added-to-cart-message {
    height: 0;
    opacity: 0;
}

#added-to-cart-message.show {
    height: auto;
    opacity: 1;
}